*{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-self: center;
}
body{
    background-color: #0898a0;
    justify-self: center;
}
#container{
    width: 55vh;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-self: center; */
    align-self: center;
    /* align-items: right; */
    padding-top: 5vh;
    background-color: #ffffff;
}

input{
    /* width: 40vh; */
    height: 7vh;
    /* color: #758696; */
    color: #000;
    font-family: Arial;
    font-weight: bold;
    font-size: bold;
    /* border-color: #758696; */
    /* border: 3px; */
    border: none;
    justify-content: center;
    outline: none;
    background: none;
}

input::placeholder{
    font-family: Arial;
    font-size: 100;
    font-weight: bolder;
}


#sign {
    background-color: #0898a0;
    font-family: TT Wellingtons, Kommon Grotesk Extended;
    font-weight: 200;
    font-size: large;
    color: #ffffff;
    /* width: 41.5vh;
    height: 5vh; */
    align-items: center;
    border-radius: 1vh;
    border: none;
    
}

fieldset{
    /* border-color: #0898a0; */
    border-radius: 1vh;
    color: #758696;
    border: 1px solid #d1d5d8;
}

span{
    font-family: Formular, Minor Regular, TT Wellingtons, Kommon Grotesk Extended;
}

#log{
    color: #758696;
}

.forgot{
    display: flex;
    align-self: center;
    font-family: Arial;
    font-weight: bold;
    color: #0898a0;
    
    
}

#welcome{
    font-size: x-large;
    font-weight: 200;
}

.up{
    top: 30vh;
    color: #385063;
}

#use{
    width: 70vh;
    height: 100vh;
    background-color: #ffffff;
    align-self: center;
}

legend{
    font-family: Arial;
    font-size: small;
    /* font-weight: bold; */
    color: #0898a0;
    display: none;
}

div{
    border: none;
}