

    #main{
        width:100%;
        height:250px;
        background-color:gray;
        margin-top: -50px;
        
    }
    
    .mbonu1{
                width:900px;
                height:160px;
                float:right;
                margin-right: 20px;
                margin-bottom: 10px;
                background-color: gray;

            }
            .mbonu2{
                margin-left: 20px;
                width:45px;
                height:180px;
                margin-bottom: 10px;
                float:inline-start;
                position: relative;
                background-color:gray;
                margin-top:-20px;
            }
            .circle{
                width:40px;
                height:40px;
                background-color:orangered;
                border-radius: 50%;
                margin-top:10px;
    }
         #bottom{
            width: 100%;
            height:700px;
            background-color:white;
         }
         
         .newton1{
                margin-right: 20px;
                margin-top: 20px;
                width:900px;
                height: 350px;
                margin-bottom: 10px;
                float: right;
                background-color:white;
                }
                .newton2{
                margin-right: 20px;
                margin-top:20px;
                width:600px;
                height:400px;
                float:left;
                background-color:white;
                }
                
           .image-div img{
                width:100%;
                height:70px;
                margin-top:-50px;
    }

         .floatin{
            float: none;
         }
         #bottom2{
            width:100%;
            height:400px;
            background-color: greenyellow;
            margin-top:800px;
            display: flex;
            justify-content: center;
            align-items: center;

         }
         .prince{
            padding-top: 20px;
            margin-right: 20px;
            /* margin-top:-550px; */
            width:600px;
            height:190px;
            /* float:left; */
            background-color:white;
        }
         /* .floatin2{
            float:left;
         } */
         .clear{
            clear: both; 
            float:none;
         }

         .containerE{
                background-color:white;
                width:100%;
                height:700px;
            }

.container1,.container2{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width:100%;
            }
.container1{
		padding-top:40px;
                margin-bottom:20px;

}
            .square{
                width: 22.5%;
                height: 200px;
                margin-left: 10px;
                margin-right:10px;
                border-radius:30px;
            }

.square90{
    width:100%;
display: flex;
justify-content: center;
}

	#apple{

                width: 200px;
                height: 200px;
                background-color:pink;
                margin: 10px;}

#img1{
background-image:url('cat-images/cat-1.jpg')}
#img2{
background-image:url('cat-images/cat-2.jpg')}

#img3{
background-image:url('cat-images/cat-3.jpg')}
#img4{
background-image:url('cat-images/cat-4.jpg')}
#img5{
background-image:url('cat-images/cat-5.jpg')}
#img6{
background-image:url('cat-images/cat-6.jpg')}
#img7{
background-image:url('cat-images/cat-7.jpg')}
#img8{
background-image:url('cat-images/cat-8.jpg')}

    









.containerF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.containerFF{
background-color:white;
width:70%;
height:200px;
}
.containerF1{
position:relative;
background-size:cover;
background-color:silver;
width:30%;
height:350px;
border-radius:20px;
margin:20px;
}
.containerF1 img{
width:100%;
height:47%;
border-radius: 20px 20px 0 0;
/* border-top-left-radius:20px; */

}
.containerF1A .left {
float:left;
margin-left:20px;
}

.containerF1A .right {
float:right;
margin-right:20px;
}
.containerF1B{
clear:both;
margin:20px;
padding-bottom:20px;
border-bottom:solid 0.5px gray;

}
.containerF1B a {text-decoration:none;
color: black;}

.click-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:red;
text-decoration:none;
font-size:24px;

}
.left-text{
text-align:left
}


.price-tag{
position:absolute;
bottom:0;
left:50%;
transform:translateX(-50%);
background-color:#fff;
padding:5px;
border-radius:5px 10px;
}

h3{
justify-content: center;
color:orangered;
text-align: center;
}

h1{
color:#0a0909;
text-align: center;
}


/* paste */

#top{
    width: 100%;
    height:180px;
    /* background-color:green; */
}
#top2{
    margin-top:-50px;
    width: 100%;
    height:120px;
    border-top: solid 0.5px black;
    /* background-color:red; */
}
#main{
    width:100%;
    height:500px;
    background-color:gray;
}

.floatin{
        float: left;
     }   
    
.mbonu2{
            margin-left:70px;
            margin-top: 20px;
            width:8%;
            height:70px;
            margin-bottom: 10px;
            float:left;
            position: relative;
            background-color:gray;
        }
        .mbonu3{
            margin-left:55px;
            margin-top: 20px;
            width: 40%;
            height: 200px;
            margin-bottom: 10px;
            float: right;
            background-color:gray;
            }
      .m1{ 
            margin-right: 20px;
            margin-top: 20px;
            width: 12%;
            height: 28px;
            /* border: solid 5px; */
            margin-bottom: 10px;
            float:left;
            /* background-color: aqua; */
            font-size: 35px;
            font-weight:bold;
        }
        .m2,.m3,.m4{
            margin-left:220px;
            margin-top: 20px;
            width: 15%;
            height: 20px;
            /* border: solid 5px; */
            margin-bottom: 10px;
            float: left;
            /* background-color: palevioletred; */
            }
        
            
         .m5{
            margin-inline:20px;
            margin-top: 20px;
            width: 5%;
            height: 20px;
            border: solid 5px olive;
            margin-bottom: 10px;
            float: left;
             background-color: olive; 
             
            }
        
            
    .m6,.m7,.m8,.m9,.m10,.m11{
            margin-left: 100px;
            margin-top: 20px;
            width: 5%;
            height: 20px;
            /* border: solid 5px; */
            margin-bottom: 10px;
            float: left;
            /* background-color: palevioletred; */
            position:relative
            }



        .m12{
            margin-right:20px;
            margin-top: 20px;
            width: 5%;
            height: 20px;
             border: solid 5px  palevioletred; 
            margin-bottom: 10px;
            float: right;
            background-color: palevioletred;
            border-radius: 10px;
            }
            .orange{
                color:orangered;
                }

                .white{
                color:white;
                }

                .m6:hover,.m7:hover,.m8:hover,.m9:hover,.m10:hover,.m11:hover{
              color: blue;
        text-decoration: none;
        /* border: 5px solid red; */
        /* padding: 5px 5px; */
        /* background-color: red; */
        /* border: 2px;
        width: 5px; */
    
                }

                .m5:hover{
              color: blue;
        text-decoration: none;
        border: 5px solid rgb(131, 184, 27); 
        /* padding: 5px 5px; */
        background-color: rgb(131, 184, 27);
        /* border: 2px;
        width: 5px; */
    
                }
                .m12:hover{
              color: blue;
        text-decoration: none;
        border: 5px solid red;
        /* padding: 5px 5px; */
        background-color: red;
        /* border: 2px;
        width: 5px; */
    
                }
                h4{
                    padding: 0;
                    margin-top: -8px;
                    font-size: 20px;
                }
                h5{
                    margin-top:-15px;
                    font-size: 25;
                }


/* end */