

#cam{
    background-color: rgba(65, 64, 66, 0.178);
    border: 1.5px solid rgb(27, 27, 26);
    width: 20px;
    border-radius: 15px;
    height: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-left: 130px; */
    
}

#innercam{
    background-color: rgb(224, 219, 219);
    width: 12px;
    border-radius: 10px;
    position: relative;
    height: 12px;
    
    display: flex;
    align-self: center;
    justify-self: center;
    /* z-index: 0; */
}

#camnei{
    background-color: rgb(27, 27, 26);
    width: 12px;
    /* width: 100vw; */
    border-radius: 10px;
    position: relative;
    height: 12px;
    /* margin-top: 30%; */
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    /* z-index: 2; */
}

#blue{
    background-color: rgb(26, 65, 136);
    width: 7px;
    /* width: 100vw; */
    border-radius: 5px;
    position: relative;
    height: 7px;
    /* margin-top: 30%; */
    display: flex;
    align-self: center;
    justify-self: center;
    opacity: 0.6;
    /* z-index: 1; */
}

#innerscreen{
    display: flex;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: inherit;
    /* background-color: aqua; */
}