body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}

.calculator{
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(5,1fr);
grid: gap 5px;
max-width: 300px;
}

button{
    padding: 10px;
    font-size: 1.2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    background-color: #ccc;
}