/* .prince{
    width: 350Px;
    height: 650px;
    background-color: #1877f2;
    border: 30px;
    border-radius: 20px;
    
} */

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial,sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    

}

.phone-screen{
    width: 300px;
    height: 600px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0);
    
}

.login-container{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha); 
    text-align: center;
    background-image: url('zenithimg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

}

input{
    width:80%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;


}

button{
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.application{
    margin-top: 350px;
}